.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  & > div:first-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > p {
      text-align: justify;
      font-size: 16px;
      font-weight: 500;
    }
  }

  & > ._card_container {
    width: 80%;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 48px;
    gap: 24px;
  }

  & > svg {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (max-width: 1119px) {
  .root {
    & > ._card_container {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 48px;
      gap: 24px;
    }
  }
}
@media only screen and (max-width: 1023px) {
  .root {
    padding: 24px;
    & > ._card_container {
      width: 50%;
      height: 100%;
      background-color: #fff;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 24px;
      gap: 24px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .root {
    padding: 24px;
    & > ._card_container {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 32px;
      gap: 24px;
    }
  }
}
p {
  text-align: center !important;
}
