@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0a0a0a;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;

  //hide scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;

  .example::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin: 0;
}

h2 {
  text-align: center;
}

ul {
  padding: 0;
}

button {
  width: 100%;
  height: 48px;
  background-color: #99d6ef;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #fff;
    color: #99d6ef;
    border: 1px solid #99d6ef;
  }
}

button:hover {
  border-color: #99d6ef;
}
button:focus,
button:focus-visible {
  outline: none;
}

p {
  color: #0a0a0a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #99d6ef;
  }
  button {
    background-color: #f9f9f9;
  }
}

div,
section {
  box-sizing: border-box;
}
